#main{
    margin: auto;
    display: grid;
    justify-content: center;
}
#btnThemMoi{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #01ff14;
    border-radius: 5px;
}
​
#addProduct{
    width: 500px;
}
#addProduct tr{
    height: 50px;
}
#addProduct tr td input{
    height: 30px;
}
#tableProduct {
    width: 800px;
}