
h2{
     text-align: center;
 }

table {
    border-collapse: collapse;
    width: 100%;
    height: 50px;

}
td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.div-mota{
    margin-left: 50px;
    margin-right: 50px;
    color: dodgerblue;
}

.left{

    margin-right: 50%;
    float: left;
}
.right{
    margin-left: 50%;
    text-align: right;
}



